<h1>Вопрос из теста #<%=@question.test_id%>:</h1>
<p><%=@question.body%></p>

<h2>Ответы</h2>

<%= link_to "Создать вопрос", new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to "Назад", test_path(@test) %>
