<div>
  <div> <h5>Название: <%= badge.title %></h5></div>
  <div>
    <p>Условие: <%= badge.rule %></p>
    <p>Параметр: <%= badge.parameter %></p>
    <%= image_tag "#{badge.image_url}", alt: "#{badge.image_url}", class: 'img-thumbnail' %>
  </div>

  <div>
    <%= link_to 'Удалить', admin_badge_path(badge),
                data: {method: :delete, confirm: 'Are you sure?'} %>
  </div>
</div>
