<p>Тест: <%= @test.title%></p>
<p>Уровень: <%= @test.level%></p>
<p>Время на прохождение теста: <%= @test.time%> мин.</p>


<strong>Вопросы теста:</strong>
<table>
  <tr>
    <th>Вопрос</th>
    <th>Действия</th>
  </tr>


  <%= render partial: 'questions/question', collection: @test.questions %>
</table>
<p><%= link_to "Редактировать", edit_admin_test_path(@test) %></p>
<p><%= link_to "Создать вопрос", new_admin_test_question_path(@test) %></p>
<p><%= link_to "Все тесты", admin_tests_path %></p>
