<p>Тест: <%= @test.title%></p>
<p>Уровень: <%= @test.level%></p>

<strong>Вопросы теста:</strong>
<table>
  <tr>
    <th>Вопрос</th>
    <th>Действия</th>
  </tr>

  <%= render @test.questions %>
</table>

<p><%= link_to "Создать вопрос", new_test_question_path(@test) %></p>
<p><%= link_to "Все тесты", tests_path %></p>
